doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src="/bower_components/modernizr/modernizr.js")
    script(type4='text/javascript',data-main="javascripts/init",src="/bower_components/requirejs/require.js")
  body
    block content